---
title: Middleman is Loaded
---

<div class="hero-slideshow">
	<figure class="show">
		<%= image_tag 'flatdesign.jpg', width:'100%' %>
		 <figcaption>
			<h1>KipTraq (“Keep-Track”) </h1>
			<p>
				A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
			</p>
		</figcaption>
	</figure>

	<figure>
		<%= image_tag 'demo-app.png', width:'100%'  %>
		<figcaption>
			<h1>KipTraq (“Keep-Track”) </h1>
			<p>
				A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
			</p>
		</figcaption> 
	</figure>

	<figure>
		 <%= image_tag 'calendar.png', width:'100%' %>
		 <figcaption>
			KipTraq (“Keep-Track”)
			<p>
				A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
			</p>
		</figcaption>
	</figure>

	<figure>
		<%= image_tag 'uxdesign.jpg', width:'100%' %>
		<figcaption>
			KipTraq (“Keep-Track”)
			<p>
				A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
			</p>
		</figcaption> 
	</figure>

	<figure>
		<%= image_tag 'demo-app.png' %>
		<figcaption>
			KipTraq (“Keep-Track”)
			<p>
				A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
			</p>
		</figcaption> 
	</figure>

  	<figure>
		<img src="http://themarklee.com/wp-content/uploads/2013/12/driving-home-for-christmas.jpg" width="100%" /><figcaption>
			KipTraq (“Keep-Track”)
			<p>
				A highly configurable phone/tablet application that streamlines an organization's asset tracking and maintenance requirements.
			</p>
		</figcaption> 
	</figure>

  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>  

<div class="container module">
<p>Changed icon font library to <a href="http://fortawesome.github.io/Font-Awesome/icons/">Font Awesome</a></p>

<i class="fa fa-1x fa-flash"></i>
<i class="fa fa-2x fa-flash"></i>
<i class="fa fa-3x fa-flash"></i>
</div>