---
title: Casa Oaxaca
---

<div class="container">
	<div class="intro">
		<h1>CASA OAXACA</h1>
		<p>
			Casa Oaxaca buys directly from Mexican crafts people and artistic groups such as the
			Oaxacan Artesan Womens' Group at competitive prices.
		</p>	
	</div>
</div>
<div class="container">
	<!-- grid with image -->
	<div class="grid-items">
		<% link_to 'merchandise', class: 'grid-item  grid-item-image' do %>
		<h1>MERCHANDISE</h1>
		<% end %>
		<% link_to 'special_items', class: 'grid-item  grid-item-image-one' do %>
		<h1>SPECIAL ITEMS</h1>
		<% end %>
		<% link_to 'special_events', class: 'grid-item  grid-item-image-two' do %>
		<h1>SPECIAL EVENTS</h1>
		<% end %>
	</div>
</div>

<div class="pannel">
	<div class="container middle">
		<p>
			Remodeling your home, office or 
			rental property? Staging a property 
			for sale or a photo shoot?  Come in 
			and see our assortment of 
			handcrafted ceramic tiles, sinks, 
			pottery, planters, mirrors, and 
			decorative pieces that will help you 
			create a unique setting.
		</p>
	</div>
</div>


<!--

<div class="wrapper-grids-bg">
	<div class="three-grids">
		<div class="aside fade"></div>
		<div class="article fade"></div>
		<div class="article-one fade"></div>
	</div>
</div>
-->
<div class="hero-slideshow">
  <figure class="show">
    <%= image_tag 'slide_mask.jpg'  %>
  </figure>

  <figure>
   <%= image_tag 'slide_vest.jpg'  %>
  </figure>

  <figure>
     <%= image_tag 'slide_store.jpg' %>
  </figure>

  <figure>
    <%= image_tag 'slide_calavr.jpg'  %>
  </figure>

  <figure>
   <%= image_tag 'slide_pillow.jpg' %> 
  </figure>

  <figure>
    <%= image_tag 'slide_artmetal.jpg'  %>
  </figure>

  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>  


<div class="pannel pannel-buy-vintage">
	<div class="container middle">
		<p>
			We also buy vintage Mexican items!
			Call for more information
			<br /> <a href="tel:5105240551">510.524.0551</a>
		</p>
	</div>
</div>


