---
title: Casa Oaxaca | merchandise
---

<div class="container">
	<h1>Merchandise</h1>
	<hr />
	<div>
		<h2>What we offer</h2>
		Whether you're shopping for a one-of-a-kind birthday or anniversary 
		present or in the middle of remodeling your home or garden, Casa Oaxaca 
		is the essential stop to make for great results. Our services are extensive 
		and of the highest quality. Come by our Albany location today to find:
	</div>
	<br />

	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'Cat_praying_mantis_turkey_armadillo.jpg' %>
		</div>
		<div class="info-product">
			<h2>Alebrijes</h2> 
			<p>
				Traditional Oaxacan figurines carved out of wood and
				hand painted in great detail and color; typically in the formations of 
				various animals
			</p>
		</div>
	</div>
	<hr />

	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'talavera.jpg' %>
		</div>
		<div class="info-product">
			<h2>Talavera</h2> 
			<p>
				pottery featuring colorful handpainted pots in all sizes,
				dishware, wall hangings, etc. Casa Oaxaca offers an extensive 
				collection of this popular traditional pottery from Puebla!
			</p>
		</div>
	</div>
	<hr />

	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'Tin_ornaments.jpg' %>
		</div>
		<div class="info-product">
			<h2>Tin ornaments</h2> 
			<p>
				handpainted in multiple designs and colors from Oaxaca
			</p>
		</div>
	</div>
	<hr />

	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'Mirror_hand_Frida_Kahlo.jpg' %>
		</div>
		<div class="info-product">
			<h2>Mirrors</h2> 
			<p>
				Mirrors with talavera and tin framing in all sizes
			</p>
		</div>
	</div>
	<hr />

	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'clothing.png' %>
		</div>
		<div class="info-product">
			<h2>Clothing and accessories</h2> 
			<p>
				Clothing and accessories from Oaxaca and its various regions,
				including traditional dresses, skirts, blouses, belts, scarves, 
				rebozos, and clothing for men and children
			</p>
		</div>
	</div>
	<hr />

	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'rug.png' %>
		</div>
		<div class="info-product">
			<h2>Rugs</h2> 
			<p>
				Rugs, wall hangings and other textiles from Oaxaca, featuring
				multiple designs and in all sizes and colors
			</p>
		</div>
	</div>
	<hr />

	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>jewelry</h2> 
			<p>
				Our jewelry is one of our most popular featured items! We offer
				an incredible selection of Oaxacan designed jewelry, including 
				Oaxaca's famous silver, earrings, necklaces, coral, and bracelets
			</p>
		</div>
	</div>
	<hr />

	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>jewelry</h2> 
			<p>
				Our jewelry is one of our most popular featured items! We offer
				an incredible selection of Oaxacan designed jewelry, including 
				Oaxaca's famous silver, earrings, necklaces, coral, and bracelets
			</p>
		</div>
	</div>
	<hr />
	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>jewelry</h2> 
			<p>
				One of a kind clay work that includes beautiful catrinas, the typical
				female skeletal figurines from Mexico, and trees of life
			</p>
		</div>
	</div>
	<hr />
	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>Metal work</h2> 
			<p>
				Metal work from Michoacan including unique pottery and wall
				hangings
			</p>
		</div>
	</div>
	<hr />
	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>black pottery</h2> 
			<p>
				black pottery, a Oaxacan specialty
			</p>
		</div>
	</div>
	<hr />
	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>Sinks & Fountains</h2> 
			<p>
				Sinks & Fountains in marble, copper, or talavera ceramic style
			</p>
		</div>
	</div>
	<hr />
	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2> prints/posters</h2> 
			<p>
				prints/posters from various artists such as Diego Rivera, Frida
				Kahlo, and Rufino Tamayo
			</p>
		</div>
	</div>
	<hr />
	<div class="section-products">
		<div class="product-image">
			<%= image_tag 'nautical-pack.png' %>
		</div>
		<div class="info-product">
			<h2>retablos</h2> 
			<p>
				retablos, hand painted tokens of thanks to God or the Virgin Mary
				for miracles  
			</p>
		</div>
	</div>
	<hr />

</div>