---
title: Casa Oaxaca |special items
---
<div class="container">
	<h1>Special Items</h1>
	<hr />
	<div class="module-testimonials-quotes">
		<ul>
			<li class="card">
				<%= image_tag 'Catrina.jpg' %>
				<div class="group-quote">
					<p>
						Talavera Catrina from Guanajuato<br />
						<em>33" x 9-1/2 (base)</em>
					</p>
				</div>
			</li>

			<li class="card">
				<%= image_tag 'Tin_Large_Chande.jpg' %>
				<div class="group-quote">
					<p>
						Tin Chandelier
						6 large and 6 small light holders 
						surround the lamp
						1 light holder at the base
						approximately 28 " high by 30 " wide
					</p>
				</div>
			</li>

			<li class="card">
				<%= image_tag 'mask_luna.png' %>
				<div class="group-quote">
					<p>
						El Hombre Luna
						Paper mache mask
						14 " x 8"
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="container">
	<hr />
	<div class="module-testimonials-quotes">
		<ul>
			<li class="card">
				<%= image_tag 'Mermaid.jpg' %>
				<div class="group-quote">
					<p>
						La Sirena
						Painted carved  figure from Guerrero
						52" x 18"
					</p>
				</div>
			</li>

			<li class="card">
				<%= image_tag 'Bench.jpg' %>
				<div class="group-quote">
					<p>
						Bench made of solid Borneo wood
						made in Tonalo, Jalisco
						8 feet long, 3-1/2 feet tall, 18 inches deep
					</p>
				</div>
			</li>

			<li class="card">
				<%= image_tag 'Wood_Tarahumara.jpg' %>
				<div class="group-quote">
					<p>
						Wood saint carved by the Tarahumara Indians
						22" x 5"
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="container">
	<h1>Special Items</h1>
	<hr />
	<div class="module-testimonials-quotes">
		<ul>
			<li class="card">
				<%= image_tag 'Cazuele.jpg' %>
				<div class="group-quote">
					<p>
						La Cazuela
						Cooking pot for mole
						20" x 6"
					</p>
				</div>
			</li>

			<li class="card">
				<%= image_tag 'Pot_strawberry.jpg' %>
				<div class="group-quote">
					<p>
						Large glazed terracotta pot from Tonala, Jalisco
						Created especially for growing a variety of small 
						plants including strawberries and herbs!
						22" wide mouth / 38" wide overall / 21" high
					</p>
				</div>
			</li>

			<li class="card">
				<%= image_tag 'Paper_mache.jpg' %>
				<div class="group-quote">
					<p>
						Paper mache figures from Tonala, Jalisco
						Highly-detailed paper mache and laquer-finished 
						figures representing typical villagers going 
						about their daily activities in the streets and 
						market places of Mexico
						each approximately 12" tall
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>

